<div class="card mb-3">
  <div class="row g-0">

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hi! I'm Marc Goossens.</h5>
        <p class="card-text"><small class="text-muted">Connect on <a href="https://www.linkedin.com/in/marcgoos/">LinkedIn</a></small></p>
        <p class="card-text">Please allow me to introduce myself. I'm a people focused, academically educated (MSc) entrepreneurial Full Stack Engineer with a lot of drive and strong analytical skills. Passionate to contribute to the team, cooperative in agile environments. Recent work was with (i) React & MaterialUI, Express and Firebase and (ii) with Angular, TypeScript, RxJS and ngx-Bootstrap. AWS certified Cloud Developer.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../assets/marc.jpg" alt="...">
    </div>
  </div>
</div>