<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Marc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-start">
        <a class="nav-link" routerLink="/blog">blog</a>
        <a class="nav-link" routerLink="/resources">resources</a>
        <a class="nav-link" routerLink="/about">about</a>
      </div>
    </div>
  </div>
</nav>